:root {
    --font-size: 25px;
    --font-weight: bolder;
}

/*  */
/* MAIN STUFF */
body {
    text-align: center;
    background-color: rgb(75, 79, 79);
}

button {
    padding: 5px;
    margin-bottom: 20px;
    /* border: none; */
}
button:hover {
    cursor: pointer;
}

.you-win,
.you-lose,
button,
footer,
h1,
.info-container {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}

.cell {
    font-size: 20px;
    font-weight: var(--font-weight);
}


/*  */
/* BOARD TYPE\CONTENT */
.sky {
    background-color: rgb(43, 37, 37);
}
.earth {
    background-color: red;
}
.alien {
    background-color: purple;
    /* color: transparent;   */
    /* text-shadow: 0 0 0 green; */
}
.hero {
    color: white;
}
.shield {
    background-color: aqua;
}



/*  */
/* BUTTONS */
.restart {
    /* position: absolute; */
    background-color: rgb(169, 222, 222);
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.restart:hover {
    background-color: rgb(255, 255, 255);
}


/*  */
/* INFO CONTAINER */
.info-container{
    height: 120px;
} 
.keys-info {
    text-align: left;
    position: absolute;
}
.game-data{
    position: absolute;
    text-align: left;
    right: 55px;
}
.you-win {
    color: green;
    bottom: 0px;
}
.you-lose {
    color: red;
   /* bottom: 15px; */
}


/*  */
/* BOARD CONTAINER */

table {
    /*puts table in middle*/
    /* display: block; */
    /* position:relative; */
    margin-left: auto;
    margin-right: auto;
    /**/
    border-collapse: collapse;
    background-color: gray;
}
table,
tr,
td {
    table-layout: fixed;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    padding: 5px;
}



/*  */
/*  */
/* color aliens */
/* .alien {
    color: transparent;  
    text-shadow: 0 0 0 red;
  } */